name: Security Audit

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

env:
  HUSKY: 0

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: dream-lab-ai/pam-github-actions/audit@main
        with:
          node-version: '22'
          package-manager: 'npm'
          audit-command: 'npm run npm-audit'
