name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      packageversion:
        description: 'Package Version'
        required: false
        type: string

jobs:
  publish_github_package:
    uses: Invenco-Cloud-Systems-ICS/github-actions-internal/.github/workflows/publish_github_package.yml@v4
    with:
      packageversion: ${{inputs.packageversion}}
